<h1>User info</h1>

<div class="profile-container">
	<% if current_user.profile_image %>
    	<%= attachment_image_tag @user, :profile_image, :fill, 75, 75, format: 'jpeg', class: "img-circle pull-left profile-img" %>
    <% else %>
    	<p>
		<%= image_tag 'noimage.png', :width => '75', :height => '75' %>
		</p>
	<% end %>

    <table class="table">
        <tbody>
            <tr></tr>
            <tr>
            <th>name</th>
            <th><%= @user.name %></th>
            </tr>
            <tr>
            <th>introduction</th>
            <th><%= @user.intro %></th>
            </tr>
        </tbody>
    </table>
    <% if @user.id == current_user.id %>
        <div class="row">

        <p><%= link_to edit_user_path(@user), class: "pull-right" do %>
                <span class="col-lg-12 btn btn-default glyphicon glyphicon-wrench link_box"></span>
            <% end %>
        </p>
        </div>
    <% end %>
</div>